html {
  font-size: 18px;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*Header*/

header {
  background-color: black;
}

header .container {
  display: flex;
  align-items: center;
}

header span {
  padding: .66rem 0;
  color: white;
}

.logo {
  height: 1.5rem;
  width: auto;
  margin-left: .5rem;
  margin-right: 1rem;
}

/*Hero*/

.hero {
  height: 25rem;
  width: 100%;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-feature {
  margin-top: 9rem;
  width: 20rem;
  background-color: black;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-feature h3, h4 {
  margin-left: 3rem;
}

.hero-feature h3 {
  margin-top: 2rem;
  margin-bottom: .25rem;
}

.hero-feature h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/*Nav*/

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 0;
}

ul li {

}

.navigation {
  background-color: firebrick;
  color: white;
}

.mobile-nav {
  display: none;
}

/*Products*/

.products .container {
  display: flex;
  flex-direction: column;
}

.product-list {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.product-image {
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 8rem;
}

.product-item h3 {
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: .5rem 0;
}

.information {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 4rem 0;
}

.info {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.info h3 {
  color: white;
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

.info span {
  padding-top: 5px;
}

/*Footer*/

footer {
  background-color: black;
  color: white;
  padding: 5rem 0;
}
 /*Media Queries */

 @media only screen and (max-width: 1024px) {
   body {
     font-size: 16px;
   }

   .mobile-nav {
     display: block;
     text-align: center;
   }

   .regular-nav {
     display: none;
   }

   .product-item {
     width: 47%;
   }

   .glasses {
     display: none;
   }
 }
